body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
p {
  margin: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #1ed0d0;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input,
button {
  border: none;
  outline: none;
  border-radius: 3px;
  background: #b2ffff;
  cursor: pointer;
  transition: background ease-in-out 350ms;
}
input {
  width: 100%;
  height: 50px;
  background: #e7ffff;
  color: #1f4f4e;
  font-size: large;
  padding-left: 15px;
}
.form-btm {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 8px;
  right: -10px;
}
.form-btm:before {
  position: absolute;
  left: 5;
  top: 0;
  content: '➡';
  font-size: 26px;
  color: white;
  transition: color ease-in-out 350ms;
}
button:hover {
  background: #91ffff;
  box-shadow: 2px 3px 10px 0px#91ffff;
  color: #1f4f4e;
}
.form-btm:hover::before {
  color: #1f4f4e;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 12px;
}
.photo-card {
  width: calc((100% - 72px) / 4);
  outline: 1px solid teal;
  background-color: #e7ffff;
  transition: transform ease-in-out 400ms;
}
.info {
  padding: 0 12px;
}
.load-more {
  display: block;
  height: 36px;
  width: 126px;
  margin: 0 auto;
}
.photo-card:hover {
  box-shadow: 6px 4px 6px #b2ffff, 2px 4px 8px #b2ffff, 3px 5px 11px #e7ffff;
  transform: scale(1.05);
}
